<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Guest Credentials</title>

  <style type="text/css">
    a,
    a[href],
    a:hover,
    a:link,
    a:visited {
      text-decoration: none !important;
      color: #0000EE;
    }

    p,
    p:visited {
      font-size: 15px;
      line-height: 24px;
      font-family: 'Helvetica', Arial, sans-serif;
      font-weight: 300;
      text-decoration: none;
      color: #000000;
    }

    h1,
    h2,
    h3 {
      font-family: 'Helvetica', Arial, sans-serif;
      font-weight: 600;
      text-decoration: none;
      color: #000000;
      margin: 0;
    }

    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td {
      line-height: 100%;
    }

    .ExternalClass {
      width: 100%;
    }
  </style>
</head>

<body
  style="text-align: center; margin: 0; padding-top: 30px; padding-bottom: 10px; background-color: #f2f4f6; color: #000000"
  align="center">

  <div style="text-align: center;">

    <!-- Logo -->
    <table align="center" width="600" style="max-width: 600px; background-color: #ffffff;">
      <tr>
        <td align="center" style="padding: 15px;">
          <img src="{{image_logo}}" alt="FlexsiRent Logo" style="width: 180px; height: 85px; object-fit: contain;" />
        </td>
      </tr>
    </table>

    <!-- Content -->
    <table align="center" width="600" style="max-width: 600px; background-color: #ffffff;">
      <tr>
        <td style="padding: 30px; text-align: left;">

          <h1 style="font-size: 22px; margin-bottom: 10px;">{{msg}}</h1>

          <p style="margin-bottom: 20px;">{{credentials_text}}</p>

          <p style="margin-bottom: 10px;"><strong>Email:</strong> {{email}}</p>
          <p style="margin-bottom: 20px;"><strong>Password:</strong> {{password}}</p>

          <p style="margin-top: 30px; color: #919293;">
            You can now log in at:
            <br />
            <a href="{{BASE_URL}}" target="_blank" style="color: #007bff;">{{BASE_URL}}</a>
          </p>

          <div style="margin-top: 50px;">
            <p style="margin-bottom: 5px; font-weight: 500;">Thank You,</p>
            <h3 style="font-size: 18px;">FlexsiRent Team</h3>
          </div>
        </td>
      </tr>
    </table>

    <!-- Footer -->
    <table align="center" width="600" style="max-width: 600px; background-color: #000000;">
      <tr>
        <td style="padding: 30px; text-align: center;">
          <p style="margin: 0; color: #ffffff;">Need More Help?</p>
          
        </td>
      </tr>
    </table>

  </div>
</body>

</html>
